<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <section class="about">
        <h2>О нас</h2>
        <p>Добро пожаловать в наш интернет-магазин одежды! Мы стремимся предоставить нашим клиентам самые современные и стильные товары. Наша команда состоит из профессионалов, которые работают над тем, чтобы каждый покупатель был доволен своей покупкой.</p>
        <p>Мы предлагаем широкий ассортимент одежды для мужчин и женщин, включая футболки, джинсы, платья и многое другое. Все наши товары тщательно отбираются, чтобы обеспечить высокое качество и соответствие последним модным тенденциям.</p>
        <p>Мы ценим каждого нашего клиента и всегда готовы помочь с выбором товара или ответить на любые вопросы. Спасибо, что выбрали нас!</p>
    </section>
    <%- include('partials/footer') %>
</body>
</html>
